doctype xml
vxml(version="2.1", xmlns:voxeo="http://community.voxeo.com/xmlns/vxml")
  form#F_1
    |<block name="B_1">
    prompt(xml:lang="it-it") Grazie per aver chiamato. Arrivederci!
    |</block>
    |<block name="B_2">
    disconnect/
    |</block>
