doctype xml
Response
  //-
    Gather(action="/as/gather", method="GET", partialResultCallback="/partial", input="speech")
  
  Gather(action="/as/gather", method="GET", partialResultCallback="/partial", input="speech")
    Play http://174.129.45.206:8080/tts?lang=sk&amp;txt=#{Digits}
  Say Gather failed
  Redirect /as/callda?Message=hi
